// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2023 Spacemit, Inc */

/dts-v1/;

#include "k1-x.dtsi"

/ {
	model = "spacemit k1-x fpga board";

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x20000000 0x00000000 0x40000000>;
		u-boot,dm-spl;
	};

	chosen {
		bootargs = "earlycon=sbi console=ttyS0,115200 debug loglevel=8,initcall_debug=1 rdinit=/init.tmp";
		stdout-path = "serial0:115200n8";
		u-boot,dm-spl;
	};
};

&uart0 {
	status = "okay";
};

