#!/usr/bin/make -f
# Always set CROSS_COMPILE, which also works for native builds.
export CROSS_COMPILE=riscv64-unknown-linux-gnu-
export ARCH=riscv
%:
	dh $@

override_dh_auto_build:
	make k1_defconfig
	make -j$(nproc)
	./tools/mkenvimage -s 0x4000 -o env.bin debian/env_k1-x.txt

override_dh_auto_test-indep: