CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0xa000200000
CONFIG_SYS_MALLOC_LEN=0x800000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x20000
CONFIG_DEFAULT_DEVICE_TREE="k1-pro_fpga"
CONFIG_SPL_SIZE_LIMIT=0x10000
CONFIG_SPL=y
CONFIG_SYS_LOAD_ADDR=0xa000200000
CONFIG_BUILD_TARGET=""
CONFIG_TARGET_SPACEMIT_K1PRO=y
CONFIG_SPL_OPENSBI_LOAD_ADDR=0xA000020000
CONFIG_K1_PRO_BOARD_FPGA=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_LOCALVERSION="spacemit"
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0xa000800000
CONFIG_FIT=y
# CONFIG_BOOTSTD_BOOTCOMMAND is not set
CONFIG_SUPPORT_RAW_INITRD=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run distro_bootcmd"
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_SPL_MAX_SIZE=0x10000
CONFIG_SPL_BSS_START_ADDR=0x20010000
CONFIG_SPL_BSS_MAX_SIZE=0x1000
CONFIG_HUSH_PARSER=y
CONFIG_SYS_CBSIZE=256
CONFIG_SYS_PBSIZE=276
# CONFIG_CMD_CPU is not set
CONFIG_SYS_BOOTM_LEN=0x4000000
CONFIG_CMD_PART=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PXE=y
CONFIG_CMD_SYSBOOT=y
# CONFIG_OF_OMIT_DTB is not set
CONFIG_DM_MTD=y
# CONFIG_MTD_NOR_FLASH is not set
CONFIG_SYS_MAX_FLASH_BANKS=2
CONFIG_TIMER_EARLY=y
